Header {
    height: 3;
    padding: 1;
    text-style: bold;
    color: red;
    background: white;
}

Tabs {
    height: 4;
}

#tabbed_content,
#tabbed_content > ContentSwitcher,
#tabbed_content > ContentSwitcher > TabPane {
    height: 1fr;
}

Tab {
    height: 3;
    padding: 1 2;
}
